.calculator-body {
    width: 80px;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.buttons {
    width: 20px;
    height: 20px;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px;
    border-style: solid;
    }

.display-window {
    width: 60px;
    height: 20px;
    padding: 5px;
    background-color: green;
    color: white;
    display: flex;
    justify-content: right;
}